<div
  class='login-container min-h-screen flex flex-col justify-center items-center m-28'
>
  <div class='w-screen max-w-md flex flex-auto flex-col'>
    <div class='bg-white px-6 py-8 rounded text-black w-full'>
      <h1 class='mb-8 text-3xl text-center'>Login</h1>
      <input
        type='email'
        class='email block border border-grey-light w-full p-3 rounded mb-4'
        name='email'
        placeholder='Email'
        id='email'
      />
      <input
        type='password'
        class='password block border border-grey-light w-full p-3 rounded mb-4'
        name='password'
        placeholder='Password'
        id='password'
      />
      <button
        type='button'
        id='submit'
        class='w-full text-center py-3 rounded bg-black text-white my-1 hover:bg-gray-600 focus:outline-none'
      >Login</button>
    </div>
    <div class='text-white mt-6'>
      안녕하세요
      <a class='border-b-2' href='/complete'>
        가입하기
      </a>
    </div>
  </div>
</div>